.canv {
	margin:	10px;
	padding:10px;
}

.frame {
	fill-opacity: 0;
	stroke-width: 1;
	stroke:rgb(0,0,0);
}

.arrow {
	stroke-width: 1;
	stroke:rgb(0,0,0);
	fill-color:rgb(0,0,0);
	marker-end: url(#markerArrow);
	overflow:visible;
}

.marker {
	stroke-width: 1;
	stroke:rgb(0,0,0);
}